<div class="index">
    <div class="teacher">
        <h2>For Profeesors</h2>
        <button><a href="/teacher-login">Login In</a></button>
    </div>
    <div class="teacher">
        <h2>For Students</h2>
        <button><a href="/student-login">Login In</a></button>
    </div>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const header = document.querySelector(".header");
        header.style.visibility = "hidden";
    });
</script>