<div class="teacher_login">
    <p>Login</p>
    <form action="/result2" method="POST" class="login">
        <input type="text" name="uid" placeholder="   UID">
        <input type="password" name="password" placeholder="  Password">
        <input type="submit" value=" Check Result" class="login_submit">
    </form>
</div>


<script>
    document.addEventListener('DOMContentLoaded', () => {
        const header = document.querySelector(".header");
        header.style.visibility = "hidden";
    });
</script>